<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>lib</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<!-- 서블릿 태그로 서블릿 등록할수 있음 -->
		<!-- 등록하려는 서블릿의 이름과 서블릿의 구현 클래스(패키지명 포함)를 지정해줘야함 -->
		<servlet-name>lib</servlet-name>
		<servlet-class>Servlet.libServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<!-- 서블릿 끼리 연결해줌 -->
		<servlet-name>lib</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>